body {
    background-color: black;
}

div {
    background-color: black;
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
}

h1, p {
    color: white;
    font-family: "Libre Baskerville", serif;
    text-align: center;
}

h1 {
    text-transform: uppercase;
}

img {
    width: 100%;
    border: 5px solid white;
}